
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Students Attendnce</h1>
<table class="table table-bordered table-hover text-center">
    <thead>
        <tr>
        <th>Department</th>
        <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <select id="DeptId" name="DeptId" asp-items="ViewBag.Departments" class="w-100">
                    <option>Select </option>
                </select>
            </td>
            <td>
                <select id="Status" name="Status" class="w-100">
                    <option>Arriving</option>
                    <option>Leaving</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Date: <input id="Date" name="DateFrom" type="date" class="w-75" >
            </td class="text-left">
            <td>
                Time: <input id="Time" name="DateFrom" type="time" class="w-75" >
            </td>
        </tr>
    </tbody>
</table>
<div id="Students">
    
</div>
@section Scripts{
    <script>
        SetDateAndTime();
        function SetDateAndTime() {
            var today = changeDateFormat( new Date());
            var timenow = changeTimeFormat( new Date())
            $("#Date")[0].value = today;
            $("#Time")[0].value = timenow;
        }
        function changeDateFormat(date)
        {
            var newdate = new Date(date);
            var dd = String(newdate.getDate()).padStart(2, '0');
            var mm = String(newdate.getMonth() + 1).padStart(2, '0');
            var yyyy = newdate.getFullYear();
            newdate = yyyy + '-' + mm + '-' + dd;
            return newdate;
        }
        function changeTimeFormat(time)
        {
            var newtime = new Date(time);
            var hh = String(newtime.getHours()).padStart(2, '0');
            var mm = String(newtime.getMinutes() + 1).padStart(2, '0');
            newtime = hh + ':' + mm ;
            return newtime;
        }
        function getStudents(){
            var DepartmentID = $("#DeptId").val();
            var Status = $("#Status").val();
            var Date = $("#Date").val();
            $("#Students").load("/Attendances/DepartmentStudents?DepartmentID="+DepartmentID+"&Status="+Status+"&AttDate="+Date)
        }
        function updateStudents(Std_Id){
            var DepartmentID = $("#DeptId").val();
            var Status = $("#Status").val();
            var Date = $("#Date").val();
            var Time =  $("#Time").val();
            $("#Students").load("/Attendances/Attend/"+Std_Id+"?stat="+Status+"&deptId="+DepartmentID+"&AttDate="+Date+"&AttTime="+Time)
        }
        $("#DeptId").change(function(){
            getStudents();
        })
        $("#Status").change(function(){
            getStudents();
        })
        $("#Date").change(function(){
            getStudents();
        })
        </script>
}


