@*@model IEnumerable<ITIAttendanceSystem.Models.Student>*@
@model selectDepartmentViewModel

@{
    ViewData["Title"] = "Index";
    ViewData["stdid"] = 0;
}

<h1>Student List</h1>
<form class="bg-light">
    <label>Select Department</label>
    <select id="dept" name="DeptId" asp-items="Model.DepartmentSelectList" class="col col-3">
        <option>All Departments</option>
    </select>

    @*<input type="submit" value="Filter" />*@

    <a asp-action="Create" class="btn btn-primary offset-6">Add Student </a>
</form>



<div id="StudentsTable">
</div>






@section Scripts{
    <script type="text/javascript">
        var dept = document.getElementById("dept").value;
        dept=dept.replace(/ /g,"%20");
        $("#StudentsTable").load("/Students/DeptStudents?DName="+dept);

        function getDeptStudents(){
            var dept = document.getElementById("dept").value;
            dept=dept.replace(/ /g,"%20");
            $("#StudentsTable").load("/Students/DeptStudents?DName="+dept);
        }
        function sendid(Id,name){
            //Documents Clicked
            stdname=name;
            stdid = Id;
            var dept = document.getElementById("dept").value;
            dept=dept.replace(/ /g,"%20");
            $("#StudentsTable").load("/Students/DeptStudents?DName="+dept+"&stdid="+stdid,function(){$('#MyPopUp').modal('show')});
        }
        function savedata(){
            var imgid=document.getElementById("imgid").checked
            var BD=document.getElementById("BD").checked
            var grad=document.getElementById("grad").checked
            var contract=document.getElementById("contract").checked
            var policepaper=document.getElementById("policepap").checked
            var military=$("#military").val()
            var note=$("#note").val()
            var dp=$("#dept").val()
            dp = dp.replace(/ /g,"%20");
            $("#StudentsTable").load("/Students/Docs?StudentId="+stdid+"&IdImg="+imgid+"&BirthDate="+BD+"&Military="+military+"&Graduation="+grad+"&Contract="+contract+"&PolicePaper="+policepaper+"&Notes="+note+"&selectedDept="+dp);
        }
        $("#dept").change(function(){
            getDeptStudents();
        })


    </script>
}



