@model ITIAttendanceSystem.Models.studentPermission

@{
    ViewData["Title"] = "Create";
}

<h1>Create Student Permission</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label">Student Name</label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
            </div>

            <div class="form-group">
                <label asp-for="PermissionDate" class="control-label"></label>
                <input asp-for="PermissionDate" class="form-control" />
                <span asp-validation-for="PermissionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="PermissionState" class="control-label"></label>
                <input asp-for="PermissionState" class="form-control" />
                <span asp-validation-for="PermissionState" class="text-danger"></span>
                </div>
                <div class="form-group">
                <label asp-for="PermissionType" class="control-label"></label>
                <input asp-for="PermissionType" class="form-control" />
                <span asp-validation-for="PermissionType" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="InstructorId" class="control-label">Instructor Name</label>
                <select asp-for="InstructorId" class="form-control" asp-items="ViewBag.InstructorId"></select>
            </div>
            <div>
                <a asp-action="Index" class="btn btn-primary col-lg">Back to List</a>
            
           
                <input type="submit" value="Create" class="btn btn-success col-lg" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
