<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ITIAttendanceSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ITIAttendanceSystem.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav b-m0ro3slwwo="" class="navbar navbar-expand-lg  navbar-toggleable-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div b-m0ro3slwwo="" class="container-fluid">
                <a class="navbar-brand" href="/">ITI Attendance System</a>
                <button b-m0ro3slwwo="" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span b-m0ro3slwwo="" class="navbar-toggler-icon"></span>
                </button>
                <div b-m0ro3slwwo="" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul b-m0ro3slwwo="" class="navbar-nav flex-grow-1">
                        <li b-m0ro3slwwo="" class="nav-item">
                            <a class="nav-link text-dark" href="/Schedules">Schedules</a>
                        </li>
                        <li b-m0ro3slwwo="" class="nav-item">
                            <a class="nav-link text-dark" href="/Students">Students</a>
                        </li>
                        <li b-m0ro3slwwo="" class="nav-item">
                            <a class="nav-link text-dark" href="/studentPermissions">Student Permission</a>
                        </li>
                        <li b-m0ro3slwwo="" class="nav-item dropdown">
                            <a b-m0ro3slwwo="" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Students Attendance
                            </a>
                            <ul b-m0ro3slwwo="" class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li b-m0ro3slwwo="">
                                    <a class="dropdown-item" href="/Attendances">Attendance</a>
                                </li>
                                <li b-m0ro3slwwo="">
                                    <a class="dropdown-item" href="/Attendances/IndexOnline">Online Attendance</a>
                                </li>
                                <li b-m0ro3slwwo="">
                                    <a class="dropdown-item" href="/Attendances/BarCode">Attendance BarCode</a>
                                </li>
                                <li b-m0ro3slwwo="">
                                    <a class="dropdown-item" href="/Attendances/BarCode?stat=L">Check Out Bar Code</a>
                                </li>
                            </ul>
                        </li>                        
                        <li b-m0ro3slwwo="" class="nav-item">
                            <a class="nav-link text-dark" href="/buildingAffairsAttendances">Staff Attendance</a>
                        </li>
                    </ul>
                </div>
                

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="register" href="/Identity/Account/Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="login" href="/Identity/Account/Login">Login</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ITIAttendanceSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/html5-qrcode.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
