
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Staff Attendnce</h1>
<table class="table table-bordered table-hover text-center">
    <thead>
        <tr>
        <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <select id="Status" name="Status" class="w-100">
                    <option>Arriving</option>
                    <option>Leaving</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>
<div id="Staff">
    
</div>

@section Scripts{
    <script>
        getStaff();
        function getStaff(){
            var Status = $("#Status").val();
            $("#Staff").load("/buildingAffairsAttendances/Staff?Status="+Status)
        }
        function updateStaff(Stf_Id){
            var Status = $("#Status").val();
            $("#Staff").load("/buildingAffairsAttendances/Attend/"+Stf_Id+"?stat="+Status)
        }
        $("#Status").change(function(){
            getStaff();
        })
        </script>
}

